<nav class="navbar">
  <div class="container navbar-content">
    
    <a routerLink="/" class="logo">
      <i class="bi bi-bus-front-fill icon"></i> UniRoute
    </a>

    <div class="nav-links">
       <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
         {{ 'NAV.HOME' | translate }}
       </a>

       <a routerLink="/operators" routerLinkActive="active">
         {{ 'NAV.OPERATORS' | translate }}
       </a>

       <a routerLink="/live-board" routerLinkActive="active">
         {{ 'NAV.LIVE_STATION' | translate }}
       </a>
    </div>

    <div class="nav-actions">
      <button class="btn-lang" *ngIf="currentLang === 'en'" (click)="changeLang('ar')">
          العربية
      </button>
      <button class="btn-lang" *ngIf="currentLang === 'ar'" (click)="changeLang('en')">
          English
      </button>
    </div>

  </div>
</nav>